.housing_page
  h1, h2
    color: #FF6060
  .desc_header, .equip_header
    position: relative
    background-color: #FF6060
    border-radius: 5px
    h2
      color: white
      font-size: 24px
      font-family: "Montserrat", sans-serif
      padding: 15px
    svg
      position: absolute
      top: 30%
      right: 1em

.desc_content, .hostname, .location
    color: #FF6060

.equipments_container, .description_container
  background-color: #F6F6F6

